:root{
    --ligthGreen:#38B000;
    --darkGreen: #004B23;
    --gray:#7C7F7D;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x:hidden;}
  

html{
    font-size: 62.5%;
    font-family: "Josefin Sans", sans-serif;
    background-color:#F8F8F8 ;
    overflow-x:hidden;}
body{
    min-height: 100vh;
} 

    /* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 22px 0 23px;
    margin-bottom:34px ;
}
.header-logo{
    width:176px;
    height: 29.64px;
    
}
.lookFor--btn{
    background-color: transparent;
    border: none;
}
.lookFor--btn span{
    display: flex;
    width: 22px;
    height: 22px;
}
/* Main */

.form-section .form--pendientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text{
    width: 310px;
    height: 21px;
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}
.submit--btn{
    display: flex;
    border: none;
    background-color: var(--ligthGreen);
    width:149px;
    height: 26px;
    border-radius: 15px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
    
}
.submit--btn:hover{
    background-color: var(--darkGreen);
}
.progress-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 45px;
    border: 1px solid var(--ligthGreen);
    border-radius: 10px;
    gap:10px;
    margin:0 auto;
    color: var(--darkGreen);
}
.progress-container h1, .progress-container p{
    font-size: 2rem;
    font-weight: 500;
}
.task-container{
    margin-left:34px;
    color: var(--darkGreen);
    font-size: 1.4rem;
    margin-top: 47px;
}

/* Footer */
footer{
    margin-top: 20%;
    border-top: 0.5px solid rgba(124, 127, 125, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 20px 22px;
}
.column1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top:10px ;
    gap: 6px;
}
.column1 a{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--darkGreen);
}
.column1 a:hover{
    text-decoration: underline;
}
.column2{
    display: flex;
    justify-content: flex-end;
    
}
.column2 img{
    width: 132px;
    height: 40px;
    margin-top:10px ;
    
}
/* Desktop */
