:root{
    --ligthGreen:#38B000;
    --darkGreen: #004B23;
    --gray:#7C7F7D;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x:hidden;}
  

html{
    font-size: 62.5%;
    font-family: "Josefin Sans", sans-serif;
    background-color:#F8F8F8 ;
    overflow-x:hidden;}
 

    /* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 22px 0 23px;
    margin-bottom:34px ;
}
.header-logo{
    width:169px;
    height: 29.64;
    
}
.header--btns{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    margin-right:22px ;
    align-items: center;
}
.header-btn{
    display:inline-flex;
    background-color: transparent;
    border: none;
    width: 22px;
    height: 22px;
}
.btn-plus{
    margin-right:6px ;
}

/* Main */
h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 21px;
}
.form-inputs{
    border-bottom: 1px solid rgba(124, 127, 125, 20%);
}
.form--pendientes h1{color: var(--ligthGreen);}
.form--realizados h1{color: var(--darkGreen);}

.input-checkbox, .input-checkedbox{
    margin-left: 27px;
    margin-top: 19px;
    width:15px;
    height: 15px;
    border-radius: 3px;
}
.input-text{
    border:none;
    background-color: transparent;
    width:169px;
    height: 12px;
    padding-left: 10px;
     
}
.section-division{
    margin: 30px 0;
}

.form--realizados{border-top: 1px solid rgba(0,75,35,50%);}
    
.form--realizados h1{
    margin-top: 30px;
}

.input-btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    border: none;
    background-color:var(--ligthGreen);
    color: white;
    text-align: center;
    font-size: 1.4rem;
    width: 182px;
    height: 26px;
    border-radius: 15px;
    margin-top: 49px;
}
.input-btn-submit:hover{
    background-color: var(--darkGreen);
}
/* Footer */
footer{
    margin-top: 20%;
    border-top: 0.5px solid rgba(124, 127, 125, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 20px 22px;
}
.column1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top:10px ;
    gap: 6px;
}
.column1 a{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--darkGreen);
}
.column1 a:hover{
    text-decoration: underline;
}
.column2{
    display: flex;
    justify-content: flex-end;
    
}
.column2 img{
    width: 132px;
    height: 40px;
    margin-top:10px ;
    
}